.contact-form {
    font-size: 14px;
}

.contact-form__h2 {
    font-size: 2em;
    font-family: 'Oswald', monospace;
    line-height: 1.9;
    font-weight: 700;
    font-stretch: normal;
    font-variant: None;
}